.mce-container .ep-list li {
    margin: 3px 0;
}

.mce-container .ep-list a {
    line-height: 32px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mce-container .ep-header {
    text-transform: capitalize;
    color: #444;
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
    margin-top: 10px;
}

.mce-container .ep-header small {
    text-transform: none;
    vertical-align: baseline;
    color: #888;
}

.mce-container .ep-p b {
    font-weight: bold;
}